@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.customLinks {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.editButton {
  color: white;
  background-color: rgb(70, 70, 70);
}

.addButton {
  color: white;
  background-color: rgb(87, 183, 87);
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 5px;
}

.addButton:hover {
  background-color: rgb(61, 133, 61);

}


th {
  background-color: rgb(164, 219, 235);
  color: white;
  width: 200px;
}

.linkFormat {
  border-bottom: 1px solid rgb(210, 210, 210);
  font-weight: bold;
  font-stretch: expanded;
}